<!DOCTYPE html>
<html lang="en" ng-app="hendowedding">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/6ee4268f-5c87-444a-a5ee-ab82a5e1d0b5.js"></script>
    <link rel="stylesheet" href="styles/site.min.css">
</head>
<body ng-controller="MainCtrl as main" no-scroll="main.rsvpVisible">
    <nav class="site-nav">
      <ul>
        <li><a href="#the-wedding"><span class="light">The</span> Wedding</a></li>
        <li><a href="#places-to-stay">Places <span class="light">to</span> Stay</a></li>
        <li><a href="#things-to-do">Things <span class="light">to</span> Do</a></li>
        <li><a href="#registry">Registry</a></li>
        <li><a href="#" ng-click="main.showRsvp()">RSVP</a></li>
      </ul>
    </nav>
    <div class="sky" stars>
    </div>
    <header class="site-header">
      <div class="title-container">
        <h1 data-anchor-target=".site-header" data-top="transform: translate3d(0, 0vh, 0);" data-top-bottom="transform: translate3d(0, 40vh, 0);">Karolyn Carl</h1>
      </div>
      <div class="background">
        <div class="b1" data-anchor-target=".site-header" data-top="transform: translate3d(0, 0vh, 0);" data-top-bottom="transform: translate3d(0, 35vh, 0);"></div>
        <div class="b2" data-anchor-target=".site-header" data-top="transform: translate3d(0, 0vh, 0);" data-top-bottom="transform: translate3d(0, 30vh, 0);"></div>
        <div class="b3" data-anchor-target=".site-header" data-top="transform: translate3d(0, 0vh, 0);" data-top-bottom="transform: translate3d(0, 25vh, 0);"></div>
        <div class="b4" data-anchor-target=".site-header" data-top="transform: translate3d(0, 0vh, 0);" data-top-bottom="transform: translate3d(0, 20vh, 0);"></div>
        <div class="b5" data-anchor-target=".site-header" data-top="transform: translate3d(0, 0vh, 0);" data-top-bottom="transform: translate3d(0, 15vh, 0);"></div>
        <div class="b6" data-anchor-target=".site-header" data-top="transform: translate3d(0, 0vh, 0);" data-top-bottom="transform: translate3d(0, 10vh, 0);"></div>
        <div class="b7"></div>
      </div>
    </header>
    <section class="introduction" id="the-wedding">
      <div class="container">
        <h1><span class="light">The</span> Wedding</h1>

        <div class="grid">
          <div class="when">
            <h2>When</h2>
            <div class="block-content">
              <div class="month-day">March 12</div>
              <div class="year">2016</div>
              <div class="time">6 PM</div>
            </div>
          </div>
          <div class="where">
            <h2>Where</h2>
            <div class="block-content">
              <div class="info">
                <h3>Stone River</h3>
                <div class="address">121 Alexander Road</div>
                <div class="address">West Columbia, SC</div>
                <a href="http://stonerivercolumbia.com/">stonerivercolumbia.com</a>
              </div>
            </div>
          </div>
          <div class="map">
            <iframe map-no-scroll frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJXedW9je7-IgRDFHGCvovlNE&key=AIzaSyCMiBTHOSjl2CTx1oTrBpc-l8no_C3_sA0" allowfullscreen></iframe>
          </div>
          <div class="what">
            <h2>What to Expect</h2>
            <div class="block-content">
              <p>The reception will be held immediately following at the same location. We’ll have heavy hors d’oeuvres and an open bar, plus all the normal wedding stuff.</p>
            </div>
          </div>
          <div class="attire">
            <h2>Attire</h2>
            <div class="block-content">
              <p>As long as you’re not wearing a wedding dress, you can wear whatever you want. No, really. If you need more guidance, think casual or dressy casual.</p>
              <p>The weather can vary in March, even in South Carolina - On March 1, 2015 it snowed; on the 11th it was 82 degrees. However, average temperature is mid-60s for the highs, low 40s for the lows.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="places-to-stay" id="places-to-stay">
      <div class="container">
        <h1>Places <span class="light">to</span> Stay</h1>
        <p>We have secured room blocks at the Hampton Inn Columbia Downtown Historic District ($135/night, 803-231-2000) and the Hilton Columbia Center ($139/night, 803-784-7800). Please mention the Nordfors-Henderson wedding when making a reservation. The deadline for these blocks is February 11, 2016.</p>
        <ul class="hotels">
          <li>
            <img src="images/hampton.jpg" alt="Hampton Inn" class="hotel-image">
            <h3>Hampton Inn</h3>
            <a href="">Website</a> | <a href="">Map</a>
          </li>
          <li>
            <img src="images/hilton.jpg" alt="Hilton Garden Inn" class="hotel-image">
            <h3>Hilton Garden Inn</h3>
            <a href="">Website</a> | <a href="">Map</a>
          </li>
        </ul>
        <p>While we have blocks at two hotels, we highly recommend the Hampton Inn. It is closer to the venue, offers cheaper parking, includes breakfast, and is easier walking distance to one of Columbia’s downtown areas, the Vista. While the Hilton is only an extra block or two away, it seems that the Hampton Inn is the better deal. Please note that both hotels include complimentary Wi-Fi - If you’re part of our room block and are asked to pay for it, let us know!</p>
      </div>
    </section>
    <section class="registry" id="registry">
      <div class="container">
        <h1>Registry</h1>
        <div class="content">
          <div class="registry-info">
            <p>We realize just how incredibly fortunate we are: We are happy and healthy; we are able to live as we like and buy what we want. While we’ve registered at Amazon and Bed, Bath &amp; Beyond for anyone who would like to buy us a gift, we would like to ask you to consider donating to either Leukemia &amp; Lymphoma Society or the Tabitha Fund.</p>
            <p>The Leukemia &amp; Lymphoma Society (LLS) is focused on finding cures and better treatments for blood cancer patients. The research they fund can help patients live longer, better lives. Personally speaking, there will be holes in our wedding because of cancer, people who should’ve been there to share it with us who were taken way too soon. While no amount of research can bring them back, it can maybe stop others from suffering the same.</p>
            <p>The Tabitha Fund is for a dog surrendered to the vet that we use, Griffin Animal Hospital. In addition to being great vets and really caring people, GAH will take in animals in great need. In February 2015, they took in a dog named Tabitha that had been abused by her owner and needed a number of surgeries. While they can cover most of the cost of the items they do, the surgeries are provided by outside doctors and can cost a great deal, so they are asking for donations to help cover this cost.</p>
          </div>
          <ul class="registry-links">
            <li><a href=""><div class="name">The Leukemia &amp; Lymphoma Society</div></a></li>
            <li><a href=""><div class="name">The Tabitha&nbsp;Fund</div></a></li>
            <li><a href=""><div class="name">Amazon</div></a></li>
            <li><a href=""><div class="name">Bed Bath &amp; Beyond</div></a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="rsvp" ng-show="main.rsvpVisible" ng-cloak>
      <div class="overlay" ng-click="main.hideRsvp()"></div>
      <form action="" class="rsvp-form" ng-class="{ 'rsvp-yes': main.rsvp === 'Yes' }">
        <div class="main-info">
          <h1>RSVP</h1>
          <label for="name">Name</label>
          <input id="name" type="text" name="Name">
          <div class="rsvp-yes-no">
            <input type="radio" id="rsvp-yes" name="RSVP" ng-model="main.rsvp" value="Yes">
            <label for="rsvp-yes">We&rsquo;ll be there!</label>
            <input type="radio" id="rsvp-no" name="RSVP" ng-model="main.rsvp" value="No">
            <label for="rsvp-no">We can&rsquo;t make it!</label>
          </div>
          <button type="submit">Submit</button>
        </div>
        <div class="additional-info" ng-show="main.rsvp === 'Yes'">
          <label for="additional-guests">Names of all invited guests in your party that are coming</label>
          <textarea name="Additional guests" id="additional-guests"></textarea>
          <label for="food-allergies">Are there any food allergies we should be aware of?</label>
          <textarea name="Food allergies" id="food-allergies"></textarea>
          <label for="contact">What is the best way to contact you (in case we have questions)?</label>
          <textarea name="Contact info" id="contact"></textarea>
        </div>
      </form>
    </section>



    <script src="scripts/site.min.js"></script>
</body>
</html>
