.sky {
  animation: 'stars97' 1s infinite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../images/background/bg-stars-97.gif');
  background-position: center center;
  background-repeat: repeat;
  background-size: auto auto;
  position: fixed;
  // animation: move-mask 50s linear alternate infinite;
  // backface-visibility: hidden;
  // background-attachment: fixed;
  z-index: 0;
  transform: translate3d(0,0,0);
  &:before {
    animation: none;
    animation: 'stars211' 5s infinite;
    background: url('../images/background/bg-stars-211.gif');
    background-position: center center;
    background-repeat: repeat;
    background-size: auto auto;
    content:'';
    height: 100vh;
    position: fixed;
    width: 100vw;
  }
  &:after {
    animation: none;
    animation: 'stars401' 10s infinite;
    background: url('../images/background/bg-stars-401.gif');
    background-position: center center;
    background-repeat: repeat;
    background-size: auto auto;
    content:'';
    height: 100vh;
    position: fixed;
    width: 100vw;
  }
}

@keyframes stars97 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stars211 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*@keyframes stars401 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}*/

.site-header {
  width: 100vw;
  height: 100vh;
  position: relative;
  // background-attachment: fixed;
  background-size: 500px auto;
  overflow: hidden;
  perspective: 0px;
  z-index: 1;

  .title-container {
    display: flex;
    height: calc(100vh - 30vw);
    margin-top: $nav-height;
  }

  h1 {
    font-family:'Rockwell W01';
    font-weight: 800;
    text-transform: uppercase;
    align-self: center;
    text-align: right;
    width: 80vmin;
    margin: 0 auto;
    font-size: 14vmin;
    padding-bottom: 0.25em;
    color: #8ABEAF;
    line-height: 0.9;
    background: url('../images/and.svg') no-repeat 6% bottom;
    background-size: 40% auto;
    position: relative;
    text-shadow: 0 5px 30px rgba(0,34,38,.66);
    z-index: 1;
  }

  .background, .background > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 100% auto;
    z-index: 2;
    transform-style: preserve-3d;
    transform: translateZ(0);
    .b7 {
      background-position: 50% 140%;
    }
  }

  $i: 7;
  @while $i > 0 {
    .b#{$i} {
      background-image: url('../images/background/#{$i}.svg');
      z-index: $i;
    }
    $i: $i - 1;
  }
}
