.registry {
  background: $green;
  border-top: 1px solid darken($green, 20%);

  h1:after {
    background: $line-dark;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .registry-info, .registry-links {
    flex: 1 1 100%;
    padding: 0 2em;

    @include sm {
      flex: 1 1 50%;
    }
  }

  .registry-links {
    list-style: none;
    padding: 0 2em;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;

    li {
      flex: 1 1 50%;
      padding: 1em;
      display: flex;

      a {
        align-self: center;
        background: $grey;
        border: 1px solid rgba(0,0,0,.4);
        border-radius: 3px;
        display: flex;
        flex: 1 0 100px;
        font-size: 0;
        height: 120px;
        transition: 0.3s border, 0.3s background;

        &:hover {
          border: 1px solid rgba(0,0,0,1);
        }

        &:active {
          background: darken($grey, 5%);
        }
      }

      .name {
        flex: 1 1 0;
        background: 50% 50% no-repeat;
        background-size: 50% auto;
        opacity: 0.6;
        transition: 0.3s opacity;
      }

      a:hover .name {
        opacity: 1;
      }

      &:nth-child(1) {
        .name {
          background-image: url('../images/leukemia_lymphoma_society.svg');
        }
      }

      &:nth-child(2) {
        .name {
          background-image: url('../images/the-tabitha-fund1.svg');
        }
      }

      &:nth-child(3) {
        .name {
          background-image: url('../images/amazon.svg');
        }
      }

      &:nth-child(4) {
        .name {
          background-image: url('../images/Bed_Bath__and__Beyond.svg');
        }
      }
    }
  }
}
