.site-nav {
  background: $green;
  border-bottom: 1px solid darken($green, 20%);
  position: fixed;
    top: 0;
    left: 0;
  width: 100%;
  z-index: 9998;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: $nav-height;
    padding: 0;
    align-items: stretch;
    flex-direction: row;
  }

  li {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

    &:last-child {
      margin-left: auto;

      a {
        background: $grey;
        color: #000;

        &:hover {
          background: lighten($pink, 10%);
        }

        &:active {
          background: $pink;
        }
      }
    }
  }

  a {
    flex: 1 1 auto;
    padding: 0.3em 0.7em 0.4em;
    color: #000;
    text-decoration: none;
    font-family: "Futura W01";
    font-size: 1.2em;
    transition: 0.3s background;

    &:hover {
      background: $grey;
    }

    &:active {
      background: darken($green, 25%);
    }
  }
}
